<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Order</title>
</head>
<body>
    <h1>Delete Order</h1>
    <p>Are you sure you want to delete the order with ID: <%= order._id %>?</p>
    <form action="/orders/<%= order._id %>?_method=DELETE" method="POST">
        <button type="submit">Yes, Delete</button>
        <a href="/orders/list">No, Cancel</a>
    </form>
</body>
</html>
